{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST">
{% csrf_token %}
 <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mb-2 text-primary">Give following information for certificate</h6>
			</div>
          <div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="fName">First Name</label>
					<input type="text" name="fname"  class="form-control" id="fullName" placeholder="First Name" required>
				</div>
			</div>
            </div>
          <br><br><br>
          <div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="mname">Middle Name</label>
					<input type="text" name="mname" class="form-control" id="Mname" placeholder="Middle Name" required>
				</div>
			</div>
          </div>
          <br><br><br>

            <div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="lname">Last Name</label>
					<input type="text" name="lname" class="form-control" id="eMail" placeholder="Last Name" required>
				</div>
			</div>
            </div>

          <br><br><br>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					<input class="btn btn-primary ms-auto" type="submit" value="Genrate">
<!--					<button type="button" name="submit" class="btn btn-primary">Update</button>-->
				</div>
			</div>
		</div>
	</div>
</div>
</div>
 </div>
</form>
   {% endblock content %}